@import "tailwindcss";

:root {
    --background: white;
    --foreground: #005b96;
    --color-text: black;
    --palette-one-blue: #6DABF2;
    --palette-two-pink: #F9DFE3;
    --palette-three-red: #DB4D3F;
    --color-header-text: white;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-text: var(--color-text);
    --font-poppins: var(--font-poppins);
    --font-mono: var(--font-geist-mono);
    --color-blue: var(--palette-one-blue);
    --color-pink: var(--palette-two-pink);
    --color-red: var(--palette-three-red);
    --color-header-text: var(--color-header-text);
}

body {
    background: var(--background);
    color: var(--color-text);
}

a,
button {
    cursor: pointer;
}

a:hover,
button:hover {
    opacity: 70%;
    transition: 0.3s;
}
